<div class="footer-div">
  <div class="footer">
    <div class="name-impressum">
      <h3>F</h3>
      <h3 style="color: rgb(249, 224, 125)">r</h3>
      <h3>ie</h3>
      <h3 style="color: rgb(255, 204, 0)">d</h3>
      <h3>er</h3>
    </div>

    <div>© Frieder Singer 2023</div>

    <div class="footer-icons">
      <a href="https://github.com/friedersinger" target="_blank"
        ><img src="/../assets/img/github-logo.png"
      /></a>
      <a href="mailto:frieder.singer@web.de"
        ><img src="/../assets/img/mail-logo.png"
      /></a>
      <a
        href="https://www.linkedin.com/in/frieder-singer-6a9b9025b/"
        target="_blank"
        ><img src="/../assets/img/linkedIn-logo.png"
      /></a>
    </div>
  </div>
  <div class="impressum">
    <a routerLink="/imprint" style="color: rgb(255, 204, 0)">Impressum</a>
  </div>
</div>
