<div class="about-me-container">
  <div class="about-me">
    <div data-aos="fade-right" data-aos-duration="1000" class="about-me-text">
      <div class="headline-about-me">
        <h2>About me</h2>
      </div>

      <div class="description-about-me">
        <p>
          Hi, I´m a german Front-end developer based in Singen, Germany. In the
          last months I have found my passion for coding and building software.
          After finishing an extensive Coding School for Frontend Developers, I
          want to prove myself to the working world. I hope to become a part of
          your team to build interesting software!
        </p>
      </div>

      <div class="specification-about-me">
        <div class="bulb-puzzle">
          <img src="/../assets/img/lightbulb.png" />
          <p>
            I did many web development projects, so I've been debugging and
            solving problems very often. Because I'm very patient, I can keep a
            cool head and solve problems in a more structured way.
          </p>
        </div>

        <div class="bulb-puzzle">
          <img src="/../assets/img/puzzle.png" />
          <p>
            Coused by my interest in coding, I am a very fast learner in
            programming skills, logical thinking and structured construction.
            I´m also a very sociable person, I can work alone as good as in
            teams.
          </p>
        </div>
      </div>
    </div>

    <div class="about-me-picture">
      <div class="background-shadow">
        <img src="/../assets/img/shadow-profile-picture.png" />
      </div>

      <div class="profile-picture">
        <img src="/../assets/img/f.png" />
      </div>
    </div>
  </div>

  <div class="shadow">
    <img src="/../assets/img/image-line.png" />
  </div>
</div>
