.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 200px;
  overflow: hidden;
  max-width: 100%;
}

.heading {
  display: flex;
  align-items: center;
  font-size: 35px;

  img {
    position: absolute;
    right: 0;
    width: 30vw;
    height: 3px;
  }
}

.message-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}

.description {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-text {
  p {
    font-size: 15px;
  }
  width: 300px;
}

.headline {
  display: flex;
  align-items: center;
}

.message-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    font-weight: 400;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.input-small {
  margin-bottom: 25px;
  width: 550px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid rgb(255, 204, 0);
  color: rgba(252, 251, 251, 0.8);
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 15px;

  &::placeholder {
    color: white;
    font-size: 14px;
  }

  &:hover {
    border: 1px solid rgb(255, 233, 130);
    cursor: pointer;
  }

  &:focus {
    outline: none !important;
    border: 1px solid rgb(255, 233, 130);
  }
}

.input-big {
  margin-bottom: 20px;
  width: 550px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid rgb(255, 204, 0);
  color: rgba(252, 251, 251, 0.8);
  padding-left: 10px;
  box-sizing: border-box;
  resize: none;
  padding-top: 10px;
  font-size: 15px;

  &::placeholder {
    color: white;
    font-size: 14px;
  }

  &:hover {
    border: 1px solid rgb(255, 233, 130);
    cursor: pointer;
  }

  &:focus {
    outline: none !important;
    border: 1px solid rgb(255, 233, 130);
  }
}

.go-up-arrow {
  position: absolute;
  bottom: 50px;
  right: 100px;
  z-index: 2;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.biggest-shadow {
  position: absolute;
  right: -400px;
  bottom: -750px;
}

.sent-or-not {
  display: flex;
  justify-content: center;
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .heading {
    font-size: 30px;
  }

  .input-small {
    width: 450px;
  }

  .input-big {
    width: 450px;
  }
}

@media (max-width: 1000px) {
  .contact {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contact-text {
    p {
      font-size: 13px;
    }
  }

  .input-small {
    width: 400px;
  }

  .input-big {
    width: 400px;
  }

  .go-up-arrow {
    bottom: 50px;
    right: 50px;
    z-index: 2;
  }
}

@media (max-width: 850px) {
  .contact {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .message-part {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .heading {
    font-size: 22px;
  }

  .description {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    align-items: center;
    max-width: 60%;
  }

  .headline {
    width: 400px;
    display: flex;
    justify-content: center;
  }

  .contact-text {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .contact-text {
    p {
      font-size: 11px;
    }
  }
}

@media (max-width: 750px) {
  .heading {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .contact-text {
    p {
      font-size: 10px;
    }
  }
}

@media (max-width: 550px) {
  .description {
    width: calc(100vw - 30px);
  }

  .headline {
    width: 70vw;
    text-align: center;
  }

  .input-small {
    width: calc(100vw - 30px);
  }

  .input-big {
    width: calc(100vw - 30px);
  }

  .go-up-arrow {
    bottom: 20px;
    right: 20px;
    z-index: 2;
    height: 30px;
  }
}

@media (max-width: 450px) {
  .heading {
    img {
      width: 24vw;
    }
  }
}

@media (max-width: 350px) {
  .contact-text {
    width: 200px;
  }
  .heading {
    img {
      width: 15vw;
    }
  }
}
