<div class="contact">
  <div class="heading">
    <h2>Contact</h2>

    <img src="/../assets/img/line_blue_long.png" />
  </div>

  <div class="message-part">
    <div class="description">
      <div class="headline">
        <img
          style="position: absolute; left: 0; width: 40px; height: 3px"
          src="/../assets/img/green_line.png"
        />
        <h3>Got a problem to solve?</h3>
      </div>
      <div class="contact-text">
        <p>
          Contact me through this form, I am interested in hearing you, knowing
          your ideas and contributing to your projects with my work.
          <br />
          Need a Frontend developer? <b>Contact me!</b>
        </p>
      </div>
    </div>

    <div data-aos="fade-left" data-aos-duration="1000">
      <form
        (submit)="sendMail()"
        ngNativeValidate
        class="message-boxes"
        #myForm
      >
        <input
          class="input-small"
          required
          type="text"
          name="name"
          placeholder="Your name ..."
          #nameField
          [disabled]="send"
        />

        <input
          class="input-small"
          required
          type="email"
          name="email"
          placeholder="Your E-Mail ..."
          #emailField
          [disabled]="send"
        />

        <textarea
          class="input-big"
          required
          name="message"
          placeholder="Your message ..."
          style="padding: 10px"
          #messageField
          [disabled]="send"
        ></textarea>

        <div style="width: 100%">
          <p class="sent-or-not" style="color: red" *ngIf="failed">
            Ups, there was a mistake... please try again
          </p>
          <p class="sent-or-not" style="color: greenyellow" *ngIf="sendSuccess">
            Email sent!
          </p>
        </div>
        <button
          type="submit"
          mat-raised-button
          style="background-color: #00bee8"
          color="primary"
          #sendButton
          [disabled]="send"
        >
          <p>Send message</p>
        </button>
      </form>
    </div>
  </div>

  <div>
    <a href="#introduction">
      <img class="go-up-arrow" src="/../assets/img/go_up_arrow.png" />
    </a>
    <img
      class="biggest-shadow"
      style="z-index: -1"
      src="/../assets/img/shadow_blue_biggest.png"
    />
  </div>
</div>
