<div class="skills-container">
  <div data-aos="fade-right" data-aos-duration="1000" class="skill-icons">
    <div class="row">
      <img class="skill-pic" src="/../assets/img/javascript_icon.png" />
      <img class="skill-pic" src="/../assets/img/angular_icon.png" />
      <img class="skill-pic" src="/../assets/img/typescript_icon.png" />
      <img class="skill-pic" src="/../assets/img/html_icon.png" />
    </div>

    <div class="row">
      <img class="skill-pic" src="/../assets/img/git_icon.png" />
      <img class="skill-pic" src="/../assets/img/firebase_icon.png" />
      <img class="skill-pic" src="/../assets/img/css_icon.png" />
    </div>

    <div class="row">
      <img class="skill-pic" src="/../assets/img/scrum_icon.png" />
      <img class="skill-pic" src="/../assets/img/api_icon.png" />
    </div>

    <div class="row">
      <img class="skill-pic" src="/../assets/img/material_design_icon.png" />
    </div>
  </div>

  <div class="skill-description">
    <div class="headline-skills">
      <div class="headline">
        <h2>Skills</h2>
      </div>

      <div class="green-line">
        <img src="/../assets/img/green_line.png" />
      </div>
    </div>

    <div class="padding-right">
      <p>
        I have gained experience in building projects with various front end
        technologies and concepts.
      </p>
    </div>

    <div class="button">
      <a href="#contact">
        <button
          mat-raised-button
          style="background-color: rgb(255, 204, 0)"
          color="primary"
        >
          <p>Get in touch</p>
        </button>
      </a>
    </div>
  </div>
</div>
