<!-- <p>introduction works!</p> -->
<div class="introduction">
  <!-- <div class="shadow-blue">
    <img src="/../assets/img/shadow_blue_upper.png" />
  </div>
  <div class="shadow-green">
    <img src="/../assets/img/shadow_green_upper.png" />
  </div> -->

  <div class="background-img">
    <img src="/../assets/img/img_holiday/Thailand-36.jpg" alt="" />
  </div>

  <div class="iam-name-container">
    <div class="iAm">I am</div>

    <div class="name-container">
      <div class="name">Frieder Singer</div>
      <div class="frontend-developer">FRONTEND DEVELOPER</div>
    </div>
  </div>

  <div class="button">
    <a href="#contact">
      <button
        mat-raised-button
        style="background-color: rgb(255, 204, 0)"
        color="primary"
      >
        <p>Let´s talk!</p>
      </button>
    </a>
  </div>

  <div class="scroll-down">
    <img src="/../assets/img/scroll_down.png" />
  </div>

  <div class="icons-div">
    <div class="icons">
      <img class="blue-line" src="/../assets/img/line.png" />
      <a href="https://github.com/friedersinger" target="_blank"
        ><img src="/../assets/img/github-logo.png"
      /></a>
      <a href="mailto:frieder.singer@web.de"
        ><img src="/../assets/img/mail-logo.png"
      /></a>
      <a
        href="https://www.linkedin.com/in/frieder-singer-6a9b9025b/"
        target="_blank"
        ><img src="/../assets/img/linkedIn-logo.png"
      /></a>
    </div>
  </div>
</div>
