body {
  margin: 0;
  background-color: #141d2f;
  color: white;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: "Poppins";
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 204, 0);
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 75px !important;
}

h3 {
  font-size: 50px !important;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 17px;
}

span {
  font-size: 17px;
}

@media (max-width: 1600px) {
}

@media (max-width: 1450px) {
  span {
    font-size: 14px;
  }
  h4 {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: 60px !important;
  }

  h3 {
    font-size: 40px !important;
  }

  p {
    font-size: 16px !important;
  }

  h4 {
    font-size: 16px;
  }

  span {
    font-size: 11px;
  }
}

@media (max-width: 1000px) {
  h2 {
    font-size: 58px !important;
  }

  h3 {
    font-size: 35px !important;
  }

  p {
    font-size: 14px !important;
  }

  h4 {
    font-size: 18px;
  }

  span {
    font-size: 13px;
  }
}

@media (max-width: 850px) {
  h2 {
    font-size: 53px !important;
  }

  p {
    font-size: 12px !important;
  }
}

@media (max-width: 750px) {
  h2 {
    font-size: 48px !important;
  }

  p {
    font-size: 12px !important;
  }

  h4 {
    font-size: 15px;
  }

  span {
    font-size: 11px;
  }
}

@media (max-width: 650px) {
  h2 {
    font-size: 41px !important;
  }

  p {
    font-size: 11px !important;
  }

  h4 {
    font-size: 13px;
  }

  span {
    font-size: 10px;
  }
}

@media (max-width: 550px) {
  h3 {
    font-size: 30px !important;
  }

  h4 {
    font-size: 19px;
  }

  span {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 40px !important;
  }

  h3 {
    font-size: 25px !important;
  }

  p {
    font-size: 10px !important;
  }

  h4 {
    font-size: 15px;
  }

  span {
    font-size: 10px;
  }
}
